<div class="city-card">
  <div class="favorite-percent" data-controller="favorite" data-favorite-url-value="<%= city_favorites_path(@city, params.permit!) %>">

      <div class="city-card-favorite">
        <i class="<%= @is_favorite ? "fas" : "far" %> fa-star" data-favorite-target="star" data-city="<%= @city.id %>" data-action="click->favorite#toggle"></i>
        <span class="city_header_stat" data-favorite-target="span"><%= @is_favorite ? "Retirer des favoris" : "Ajouter aux favoris" %></span>
      </div>


    <div class="city-card-comparator" data-controller="compared" data-compared-url-value="<%= city_compared_cities_path(@city) %>">

        <i class="<%= @is_compared ? "fas fa-clipboard-check" : "far fa-clipboard" %>" data-compared-target="clipboard" data-action="click->compared#toggle"></i>
        <span class="city_header_stat" data-compared-target="span"><%= @is_compared ? "Retirer du comparateur" : "Ajouter au comparateur" %></span>

    </div>
  </div>

  <div class="cross-close" data-controller="city" data-action="click->city#close"><i class="fas fa-times"></i>
  </div>


    <div class="city_show_header" style="background-image: linear-gradient(3.25deg, #788EC7 38.16%, rgba(255, 255, 255, 0) 131.88%), url(<%= @city.photo %>)">
      <div class="city_header_stat">
        <p><%= @city.population %> habitants</p>
      </div>
      <div class="city_name_rating">
        <h2><%= @city.name %></h2>
          <!-- Set city rating color depending on user selection and city match values -->
          <% if @city_rating >= @city_rating_middle_threshold %>
            <span style= "background-color:#0A7C06"> <%= @city_rating %> % </span>

          <% elsif @city_rating >= @city_rating_lower_threshold && @city_rating < @city_rating_middle_threshold %>
            <span style= "background-color:#D8841D"> <%= @city_rating %> % </span>

          <% else %>
            <span style= "background-color:#D94111"> <%= @city_rating %> % </span>
          <% end %>
      </div>

      <% if @city_rating >= @city_rating_middle_threshold %>
          <div class="progress-bar" style="width:calc(<%= @city_rating %>% + 36px); background-color:#0A7C06"> </div>
      <% elsif @city_rating >= @city_rating_lower_threshold && @city_rating < @city_rating_middle_threshold %>
          <div class="progress-bar" style="width:calc(<%= @city_rating %>% + 36px); background-color:#D8841D"> </div>
      <% else %>
          <div class="progress-bar" style="width:calc(<%= @city_rating %>% + 36px); background-color:#D94111"> </div>
      <% end %>
    </div>
    <div class="city_show_content">
      <div class="city_description">
        <p><%= @city.description %></p>
      </div>
      <div class="wiki_link">
        <% city_wiki_url = "https://fr.wikipedia.org/wiki/#{@city.name}" %>
        <%= link_to "En savoir plus...", city_wiki_url, target: "_blank" %>
      </div>
    <div class="city_main_filters">
      <!-- Set commodity criteria color depending on user selection and city match values -->
        <div class="market-price">
          <span class="city_main_filters_titles">Prix du marché ( Maison )</span>
          <% if @city.house_marketprice == 0 %>
            <span>—</span>
          <% else %>
            <span><%= @city.house_marketprice %> €/m<sup>2</sup></span>
          <% end %>
        </div>

        <div class="average-age">
          <span class="city_main_filters_titles">Age moyen</span>
          <span> <%= @city.age_average %> ans</span>
        </div>
    </div>

    <!-- see cities controller for following thresholds variables -->

    <!-- Set doctor criteria color depending on user selection and city match values -->
    <div class="city_filters">
      <% if @doctor_presence && @city.doctor %>
        <div class="doctor">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Docteurs </span>
        </div>
      <% elsif @doctor_presence && @city.doctor == false %>
        <div class="doctor">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Docteurs </span>
        </div>
      <% end %>


    <!-- Set network criteria color depending on user selection and city match values -->
      <% if @network_presence && @city.network.to_f >= @network_fibre_threshold %>
        <div class="network">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Couverture 4G </span>
          <% @city.network = 100 if @city.network.to_f > 100 %>
          <span style= "color:#0A7C06"><%= (@city.network.to_f).round %></span>
          <span style= "color:#0A7C06">%</span>
        </div>

      <% elsif @network_presence && @city.network.to_f < @network_fibre_threshold %>
        <div class="network">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Couverture 4G </span>
          <span style= "color:#D94111"><%= (@city.network.to_f).round %></span>
          <span style= "color:#D94111">%</span>
        </div>
      <% end %>


    <!-- Set fibre criteria color depending on user selection and city match values -->
      <% if @fibre_presence && @city.fibre.to_f >= @network_fibre_threshold %>
        <div class="fibre">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Couverture fibre </span>
          <% @city.fibre = 100 if @city.fibre.to_f > 100 %>
          <span style= "color:#0A7C06"><%= (@city.fibre.to_f).round %> </span>
          <span style= "color:#0A7C06">%</span>
        </div>

      <% elsif @fibre_presence && @city.fibre.to_f < @network_fibre_threshold  %>
        <div class="fibre">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Couverture fibre </span>
          <span style= "color:#D94111"><%= (@city.fibre.to_f).round %></span>
          <span style= "color:#D94111">%</span>
        </div>
      <% end %>


    <!-- Set supermarket criteria color depending on user selection and city match values  -->
      <% if @supermarket_presence && @city.supermarket %>
        <div class="supermarket">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Supermarchés </span>
        </div>
      <% elsif @supermarket_presence && @city.supermarket == false %>
        <div class="supermarket">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Supermarchés </span>
        </div>
      <% end %>

      <% if @primary_school_presence && @city.primary_school %>
        <div class="primary_school">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Maternelles et primaires </span>
        </div>
      <% elsif @primary_school_presence && @city.primary_school == false %>
        <div class="primary_school">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Maternelles et primaires </span>
        </div>
      <% end %>

      <% if @secondary_school_presence && @city.secondary_school %>
        <div class="secondary_school">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Collèges et lycées </span>
        </div>
      <% elsif @secondary_school_presence && @city.secondary_school == false %>
        <div class="secondary_school">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Collèges et lycées </span>
      </div>
      <% end %>

      <% if @handiwork_presence && @city.handiwork %>
        <div class="handiwork">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Magasins de bricolage </span>
        </div>
      <% elsif @handiwork_presence && @city.handiwork == false %>
        <div class="handiwork">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Magasins de bricolage </span>
        </div>
      <% end %>

      <% if @grocery_presence && @city.grocery %>
        <div class="grocery">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Epiceries </span>
        </div>
      <% elsif @grocery_presence && @city.grocery == false %>
        <div class="grocery">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Epiceries </span>
        </div>
      <% end %>

      <% if @butchery_presence && @city.butchery %>
        <div class="butchery">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Boucheries </span>
        </div>
      <% elsif @butchery_presence && @city.butchery == false %>
        <div class="butchery">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Boucheries </span>
        </div>
      <% end %>

      <% if @bakery_presence && @city.bakery %>
        <div class="bakery">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Boulangeries </span>
        </div>
      <% elsif @bakery_presence && @city.bakery == false %>
        <div class="bakery">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Boulangeries </span>
        </div>
      <% end %>

      <% if @bookstore_presence && @city.bookstore %>
        <div class="bookstore">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Librairies </span>
        </div>
      <% elsif @bookstore_presence && @city.bookstore == false %>
        <div class="bookstore">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Librairies </span>
        </div>
      <% end %>

      <% if @clothe_presence && @city.clothe %>
        <div class="clothe">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Magasins de vêtements </span>
        </div>
      <% elsif @clothe_presence && @city.clothe == false %>
        <div class="clothe">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Magasins de vêtements </span>
        </div>
      <% end %>

      <% if @shoestore_presence && @city.shoestore %>
        <div class="shoestore">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Magasins de chaussures </span>
        </div>
      <% elsif @shoestore_presence && @city.shoestore == false %>
        <div class="shoestore">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Magasins de chaussures </span>
        </div>
      <% end %>

      <% if @fish_market_presence && @city.fish_market %>
        <div class="fish_market">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Poissonneries </span>
        </div>
      <% elsif @fish_market_presence && @city.fish_market == false %>
        <div class="fish_market">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Poissonneries </span>
        </div>
      <% end %>

      <% if @jewellery_presence && @city.jewellery %>
        <div class="jewellery">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Bijouteries </span>
        </div>
      <% elsif @jewellery_presence && @city.jewellery == false %>
        <div class="jewellery">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Bijouteries </span>

      <% if @cosmetic_presence && @city.cosmetic %>
        <div class="cosmetic">
          <span style= "color:#0A7C06"><i class="fas fa-check-circle"></i> Parfumeries </span>
        </div>
      <% elsif @cosmetic_presence && @city.cosmetic == false %>
        <div class="cosmetic">
          <span style= "color:#D94111"><i class="fas fa-times-circle"></i> Parfumeries </span>
        </div>
      <% end %>

    </div>

     <div class="additional_city_filters">
      <p> Autres atouts présents dans cette ville </p>
      <div class="additionnal_filters">
        <%if @doctor_presence == false && @city.doctor %>
          <div class="additional_doctor">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Docteurs </span>
          </div>
        <% end %>

        <% if @network_presence == false && @city.network.to_f >= @network_fibre_threshold %>
          <div class="additional_network">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Couverture 4G </span>
            <% @city.network = 100 if @city.network.to_f > 100 %>
            <span style= "color:#7C94CB"><%= (@city.network.to_f).round %></span>
            <span style= "color:#7C94CB">%</span>
          </div>
        <% end %>

        <% if @fibre_presence == false && @city.fibre.to_f >= @network_fibre_threshold %>
          <div class="additional_fibre">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Couverture fibre </span>
            <% @city.fibre = 100 if @city.fibre.to_f > 100 %>
            <span style= "color:#7C94CB"> <%= (@city.fibre.to_f).round %></span>
            <span style= "color:#7C94CB">%</span>
          </div>
        <% end %>

        <% if @supermarket_presence == false && @city.supermarket %>
          <div class="additional_supermarket">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Supermarchés </span>
          </div>
        <% end %>

        <% if @primary_school_presence == false && @city.primary_school %>
          <div class="additional_primary_school">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Maternelles/Primaires </span>
          </div>
        <% end %>

        <% if @secondary_school_presence == false && @city.secondary_school %>
          <div class="additional_secondary_school">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Collèges et lycées </span>
          </div>
        <% end %>

        <% if @handiwork_presence == false && @city.handiwork %>
          <div class="additional_handiwork">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Magasins de bricolage </span>
          </div>
        <% end %>

        <% if @grocery_presence == false && @city.grocery %>
          <div class="additional_grocery">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Epiceries </span>
          </div>
        <% end %>

        <% if @butchery_presence == false && @city.butchery %>
          <div class="additional_butchery">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Boucheries </span>
          </div>
        <% end %>

        <% if @bakery_presence == false && @city.bakery %>
          <div class="additional_bakery">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Boulangeries </span>
          </div>
        <% end %>

        <% if @bookstore_presence == false && @city.bookstore %>
          <div class="additional_bookstore">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Librairies </span>
          </div>
        <% end %>

        <% if @clothe_presence == false && @city.clothe %>
          <div class="additional_clothe">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Magasins de vêtements </span>
          </div>
        <% end %>

        <% if @shoestore_presence == false && @city.shoestore %>
          <div class="additional_shoestore">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Magasins de chaussures </span>
          </div>
        <% end %>

        <% if @fish_market_presence == false && @city.fish_market %>
          <div class="additional_fish_marker">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Poissonneries </span>
          </div>
        <% end %>

        <% if @jewellery_presence == false && @city.jewellery %>
          <div class="additional_jewellery">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Bijouteries </span>
          </div>
        <% end %>

        <% if @cosmetic_presence == false && @city.cosmetic %>
          <div class="additional_cosmetic">
            <span style= "color:#7C94CB"><i class="fas fa-plus-circle"></i> Parfumeries </span>
          </div>
        <% end %>

      </div>

    </div>
</div>
